@model MvcApplication1.Models.Reporte

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Reporte</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Motivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Motivo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> 
    </p>
}
